Other_Integrations_and_Use_Cases/Latchshot — capture a public webpage.json
{
  "id": "LatchshotCapture",
  "name": "Latchshot — capture a public webpage",
  "nodes": [
    {
      "parameters": {},
      "id": "5ccf21c2-f99b-4f11-9ac2-f71751120649",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fb79dbb-0813-4d30-9987-d85dcaf69142",
              "name": "url",
              "value": "https://example.com",
              "type": "string"
            },
            {
              "id": "833ef5dc-57ec-4cd8-b092-14ba989ed70d",
              "name": "width",
              "value": 1440,
              "type": "number"
            },
            {
              "id": "0052935e-b186-466b-98e7-024fd6a72dbe",
              "name": "height",
              "value": 900,
              "type": "number"
            },
            {
              "id": "0209741d-e9a4-4576-b540-fbd41106a2a0",
              "name": "fullPage",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "98d81481-ab42-474c-b95a-c392a3e5134b",
              "name": "delayMs",
              "value": 250,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e674a44c-c554-471a-b3fc-e94284bc7f46",
      "name": "Set capture input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://latchshot.fly.dev/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.url, kind: 'screenshot', format: 'png', width: $json.width, height: $json.height, fullPage: $json.fullPage, delayMs: $json.delayMs } }}",
        "options": {
          "timeout": 45000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "capture"
            }
          }
        }
      },
      "id": "864e3340-6a02-4f0e-93bb-24ab48b99df2",
      "name": "Capture public page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "content": "### Add the credential before the first run\nOpen **Capture public page**, select or create a **Bearer Auth** credential, and paste only the `ls_live_…` token. The exported workflow contains no API key.\n\nThe successful response is binary field `capture`. Connect it to storage, email, chat, or another file-capable node.",
        "height": 250,
        "width": 390
      },
      "id": "a35d101a-a644-4e92-a4a4-9de8cf997f18",
      "name": "Setup note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run workflow": {
      "main": [
        [
          {
            "node": "Set capture input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set capture input": {
      "main": [
        [
          {
            "node": "Capture public page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff4a967b-6b87-489e-bd8d-bc4c4918e959",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
